:root.theme-light {
  --background: #fff1f7;
  --accent: #ff8dcb;
  --text: #353430;
  --image: url("../images/cover-image-light.png");
  --header: #ffc2e6;
}

.theme-light .header__record-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff1f7;
    --header: #ffc2e6;
    --accent: #ff8dcb;
    --text: #353430;
  }

   .header__record-decoration {
    display: none;
  }

   .header::before,
   .footer::before,
   .header::after,
   .footer::after,
   .header__theme-menu-button {
    --accent: var(--text);
  }
  
   .main__section-title,
   .title-accent {
    color: var(--text);
  }
}