:root {
  --background: #000028;
  --header: #db00ff;
  --accent: #ff0070;
  --text: #f1b2ce;
}

.theme-dark .page {
  background-image: url("../images/cover-image-dark.png");
}

.main__section-title {
  color: var(--accent);
}

.title-accent {
  color: var(--background);
}